html{
    box-sizing: border-box;
    height:auto;
    scroll-behavior: smooth;
}

body{
    background: rgb(22,34,42);
    background: linear-gradient(90deg, rgba(22,34,42,1) 0%, rgba(58,96,115,1) 100%);
    overflow: overlay;
}

body::-webkit-scrollbar {
    width: 12px;
}
  
body::-webkit-scrollbar-thumb {
    background-color: rgba(22,34,42,1);
    border-radius: 10px;
}
  
body::-webkit-scrollbar-track {
    background-color: transparent;
}

*,
::before,
::after {
  padding: 0;
  margin: 0;
}

.navbar{
    position:fixed;
    display:flex;
    gap:20px;
    border:0.1px solid rgba(0, 0, 0, 0);
    background: rgb(22,34,42);
    background: linear-gradient(90deg, rgba(22,34,42,1) 0%, rgba(58,96,115,1) 100%);
    z-index:100;
    justify-content: flex-end;
    width:100vw;
    box-shadow: 0 10px 30px -10px rgba(2,12,27,0.7);
}

.navbar > h2{
    font-family:Oswald;
    color:#FFFFFF;
    font-size:40px;
    position: relative;
    padding:10px;
    padding-right:70px;
}

.navbar >#but1::after{
    content: "";
    position: absolute;
    bottom: -1px;
    left: 31%;
    transform: translateX(-50%);
    width: 10%;
    border-bottom: 3px solid white;
    transition: width 0.3s ease-in-out;
    padding-right:70px;
}

.navbar >#but1:hover::after{
    width: 30%;
    border-bottom: 3px solid #E56840;
    transition: all 0.25s ease-out;
}

.navbar >#but2::after{
    content: "";
    position: absolute;
    bottom: -1px;
    left: 32%;
    transform: translateX(-50%);
    width: 10%;
    border-bottom: 3px solid white;
    transition: width 0.3s ease-in-out;
    padding-right:70px;
}

.navbar >#but2:hover::after{
    width: 30%;
    border-bottom: 3px solid #E56840;
    transition: all 0.25s ease-out;
}

.navbar >#but3::after{
    content: "";
    position: absolute;
    bottom: -1px;
    left: 35%;
    transform: translateX(-50%);
    width: 30%;
    border-bottom: 3px solid white;
    transition: width 0.3s ease-in-out;
    padding-right:70px;
}

.navbar >#but3:hover::after{
    width: 50%;
    border-bottom: 3px solid #E56840;
    transition: all 0.25s ease-out;
}

.navbar > a:hover{
    color:#E56840;
    transition: background 0.5s, color 0.5s;
    -webkit-transition: background 0.5s, color 0.5s;
}

#name{
    color:#E56840;
    font-family:Pacifico;
}

#carrer{
    color:#E56840;
    font-size:80px;
}

h1{
    font-family:Oswald;
    color:white;
    font-size:50px;
    width: max(100px, 70vw);
}

h3{
    font-family:Oswald;
    color:white;
    font-size:25px;
    margin-top:30px;
    width: max(100px, 70vw);
}
.headers{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items: center;
    gap:-100px;
    margin-top:150px;
}

.contact > ul{
    display:flex;
    flex-direction: column;
    position:fixed;
    list-style: none;
    gap:10px;
    top: 68%;
    left:2%;
}

.contact{
    display:flex;
    justify-content: flex-start;
    align-items: baseline;
}

ul >li >a > img{
    width:30px;
    height:30px;
    transform: translateY(5px);
    transition: transform 0.3s ease;
}

ul >li >a:hover img{
    transform: translateY(0);
}

.navbar > h2> a{
    text-decoration: none;
    color:white;
}
.navbar > h2> a:hover{
    text-decoration: none;
    color:#E56840;
    transition: all 0.3s ease-out;
}

.line{
    height:180px;
    width:2px;
    background-color:black;
    margin:0 auto;
}

.email{
    display:flex;
    justify-content: flex-end;
    align-items: baseline;
    
}

.email > ul{
    display:flex;
    flex-direction: column;
    position:fixed;
    list-style: none;
    gap:110px;
    top: 68%;
    right:-3.3%;
}

.email > ul > li > p{
    color:black;
    transform:rotate(90deg);
    font-family:Oswald;
    font-size:20px;
    text-align:center;
}

.line2{
    height:180px;
    width:2px;
    background-color:rgba(22,34,42,1);
    margin:0 auto;
}

ul>li>p>a:hover {
    color:#E56840;
}

ul>li>p>a {
    text-decoration: none;
    color:black;
    transition: all 0.25s ease-out;
}
#home{
    width:70px;
    height:70px;
    margin-left: 5px;
}

.about{
    display:flex;
    flex-direction: column;
    width: max(50px, 70vw);;
    color:white;
    font-family:Oswald;
    font-size:23px;
    justify-content:center;
    align-items:center;
    margin:500px auto;
    flex-wrap: wrap;
}

.about > p{
    margin-top:30px;
    display:flex;
    max-width:100%;
    word-wrap: break-word;
    overflow-wrap: break-word;
    align-items:center;
    justify-content: center;
}

.lineAM{
    width:400px;
    height:3px;
    background-color: #E56840;
    margin-left:18px;
    margin-top:25px;
}

.title{
    display:flex;
}

#img{
    z-index: 1;
    border-radius:5px;
    transition:all 0.3s ease-out;
    height: auto;
    max-width: 100%;
    width:500px;
}

#img:hover{
    width:520px;
}

.projects{
    display:flex;
    flex-direction: column;
    align-items:center;
    text-align: center;
    gap:100px;
    color:rgb(138, 138, 138);
    font-family:Oswald;
    margin-bottom:100px;
}

.box1{
    height: auto;
    max-width: 130%;
    background-color:rgba(22,34,42,1);
    z-index:99;
    margin-top:-100px;
    margin-left:400px;
    border-radius:5px;
    position:relative;
    padding:10px;
}

.box2{
    height: auto;
    max-width: 130%;
    background-color:rgba(22,34,42,1);
    z-index:99;
    margin-top:-100px;
    margin-left:400px;
    border-radius:5px;
    position:relative;
    padding:10px;
}

.box3{
    height: auto;
    max-width: 130%;
    background-color:rgba(22,34,42,1);
    z-index:99;
    margin-top:-100px;
    margin-left:400px;
    border-radius:5px;
    position:relative;
    padding:10px;
}

#desc1{
    margin-top:10px;
}

.navbar2{
    position: fixed;
    width: 500px;
    height: 100%;
    z-index: 101;
    background: rgb(34, 47, 56);
    left:calc(200% - 200px);
    padding-top:200px;
    padding-left:50px;
}

.navbar2>ul{
    list-style-type: none;
}

.navbar2>h2>a{
    color:white;
    text-decoration:none;
    font-family: Oswald;
    font-size:40px;
}
.navbar2>h2{
    padding-top:20px;
}


.navbar2>button{
    display:block;
    margin:20px 80px 20px 0;
    font-family:Oswald;
    font-size:20px;
    width:130px;
    height:50px;
    background:transparent;
    border:2px solid rgba(22,34,42,1);
    outline:none;
    border-radius:6px;
    cursor:pointer;
    font-size:1.1em;
    font-weight:500;
    transition:.3s;
}
.navbar2>button:hover{
    background-color:#fff;
    color:rgba(22,34,42,1);
}

.navbar2>ul{
    width:126px;
    display:flex;
    gap:18px;
}

@media screen and (max-width: 1040px) {
    .box1 {
        margin-top:0;
        margin-left:0;
        transition:margin-top 0.5s ease-in-out, margin-left 0.5s ease-in-out;
    }
    .box2 {
        margin-top:0;
        margin-left:0;
        transition:margin-top 0.5s ease-in-out, margin-left 0.5s ease-in-out;
    }
    .box3 {
        margin-top:0;
        margin-left:0;
        transition:margin-top 0.5s ease-in-out, margin-left 0.5s ease-in-out;
    }

    .contact>ul >li >a > img{
        display:none;
    }

    ul >li > div{
        display:none;
    }

    #email{
        display:none;
    }
}

.navbar>button{
    display:none;
}

@media screen and (max-width: 800px) {
    .title{
        flex-direction: column;
        text-align:center;
    }

    .lineAM{
        width:250%;
        align-items: center;
        margin-left:-85px;
        transition:margin-left 0.5s ease-in-out;
    }
    .navbar>h2{
        display:none;
    }
    .navbar>button{
        display:block;
        margin:20px 30px 20px 0;
        font-family:Oswald;
        font-size:20px;
        width:130px;
        height:50px;
        background:transparent;
        border:2px solid rgba(22,34,42,1);
        outline:none;
        border-radius:6px;
        cursor:pointer;
        font-size:1.1em;
        font-weight:500;
        transition:.3s;
    }
    .navbar>button:hover{
        background-color:#fff;
        color:rgba(22,34,42,1);
    }

}
